.block {
	border: 2px solid black;
    padding: 0px 10px 20px 20px;
}

.block h2 {
	border-bottom: 2px solid black;
	text-align: center;
	padding-bottom: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

tr td:first-child {
	text-align: right;
	padding-right: 10px;
}
table tr:last-child{
	border-top:1px solid black;
}

.earningInfo {
	width: 50%;
    margin: 30px auto 0;
    text-align: center;
    padding-bottom: 60px;
}

.reset {
	float: right;
	margin-top: 10px;
}

#main-menu {
	text-align: center;
}

#main-menu li{
	display:inline;
}

#main-menu li:not(:last-child):after{
	content: '|';
	margin-left: 5px;
}
.new-meal {
	margin: 0 auto 20px;
	width: 50%;
}

.new-meal h2, .new-meal form {
	text-align: center
}

.meal-details-btn {
	margin-top: 20px;
}

.animate-view.ng-enter,
.animate-view.ng-leave {
    transition:1s linear all;
}

.animate-view.ng-enter { 
	opacity:0; 
}
.animate-view.ng-enter.ng-enter-active { 
	opacity:1; 
}
.animate-view.ng-leave { 
	opacity:1; 
}
.animate-view.ng-leave.ng-leave-active { 
	opacity:0; 
}
